<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <body>
       <div><img id="joker" src="{% static "img/red_joker.jpg" %}" width="40px">
           <a href="{% url 'profile' %}">Profile</a> |  <a href="{% url 'faq' %}">FAQ</a> |
           <a href="{% url 'blackjack' %}">BlackJack</a> |  <a href="{% url 'poker' %}">Poker</a> |
           <a href="{% url 'hearts' %}">Hearts</a> |  <a href="{% url 'not_face' %}">Not Face</a>
            <img id="joker" src="{% static "img/black_joker.jpg" %}" width="40px"></div>
       <h1>Welcome to our Card Game!</h1>
        {% block content %}

        {% endblock content %}
    </body>
</body>
</html>